<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Назва категорії</th>
        <th>Опис</th>
      </tr>
    </thead>
    <tbody class="add">
    </tbody>
  </table>
</div>
