<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Назва категорії</th>
        <th>Питання</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>лала</td>
        <td>лалала</td>
      </tr>

    </tbody>
  </table>
</div>
