<fieldset>
    <div class = "panel panel-success">
        <div class = "panel-heading">
            <h2 class = "panel-title"><%= question.text %></h2>
        </div>
        <br/>
        <div class = "panel-body">
            <label> </label>

            <form role="form" id="que"class="que">
            </form>
        </div>
    </div>
</fieldset>