<div class="container sign ">
<form id="signup">

    <div class="header1">

        <h3>Sign Up</h3>

        <p>You want to fill out this form</p>

    </div>

    <div class="sep"></div>

    <div class="inputs">

        <input type="text" placeholder="name" id="Sname" />
        <input type="email" placeholder="e-mail" id="Semail" autofocus />

        <input type="password" placeholder="Password" id="Spass" />

        <a id="submit" class="but sub" href="#">SIGN UP </a>

    </div>

</form>
</div>