<h4> <span class="label label-pill label-info"><%= messages.user.username %> </span></h4> <h5><em><%= user.username %></em></h5>
<h4> <span class="label label-pill label-success"><%= messages.user.email %> </span></h4><h5><em><%= user.email %></em></h5>